body{
    background-image: url("../Tetst2/assets/carnaby-82KWr7KHwDg-unsplash 2.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana;
}

.block{
    position: absolute;
    display: flex;
    width: 200px;
    border-radius: 25px;
    height: 41px;
}
.block-1{
    margin-left: 35%;
    margin-top: 23%;
}
.block-2{
    margin-left: 57%;
    margin-top: 41%;
}
.block-3{
    margin-left: 59%;
    margin-top: 21%;
}
.block-4{
    margin-left: 67%;
    margin-top: 34%;
}
.block-5{
    margin-left: 27%;
    margin-top: 15%;
}
.block-6{
    margin-left: 24%;
    margin-top: 35%;
}
.block-7{
    margin-left: 56%;
    margin-top: 31%;
}
.block-8{
    margin-left: 71%;
    margin-top: 10%;
}
.block-9{
    margin-left: 74%;
    margin-top: 24%;
}
.block-10{
    margin-left: 82%;
    margin-top: 38%;
}
.btn{
    position: absolute;
    z-index: 2;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: none;
    text-align: center;
}
.btn1, .btn2, .btn3, .btn4{
    background: url("assets/Group 679.png");
}
.btn5, .btn6, .btn7, .btn8, .btn9, .btn10{
    background: url("assets/Group 682.png");
}

p{
    float: right;
    height: 100%;
    width: 80%;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 18%;
}
.hidden{
    overflow: hidden;
    width: 200px;
    height: 41px;
    border-radius: 25px;
    opacity: 0.8;
    position: relative;
}
.div1, .div2, .div3, .div4{
    background-color: #6ABF4B;
}
.div5, .div6, .div7, .div8, .div9, .div10{
    background-color: royalblue;
}